.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 85vh;
}

.global-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.audio-files-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.audio-buttons-container {
    display: flex;
    justify-content: space-between;

}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #008CBA;
    flex: 1;
    margin: 4px;
    width: 200px;
}

.button:hover {
    background-color: rgba(120, 115, 115, 0.79);
}


#playButton {
    background-color: #008CBA;
    /* Green */
}

#playButton:hover {
    background-color: rgba(120, 115, 115, 0.79);
}

#pauseButton {
    background-color: #FF0000;
    /* Red */
}

#pauseButton:hover {
    background-color: rgba(120, 115, 115, 0.79);

}

#audioXButton {
    background-color: blueviolet;
}


#audioAButton {
    background-color: orange;
}

#selectA {
    background-color: orange;
}

#audioBButton {
    background-color: olivedrab;
}

#selectB {
    background-color: olivedrab;
}

#audioCButton {
    background-color: rgb(131, 35, 142);
}

#selectC {
    background-color: rgb(131, 35, 142);
}


.selected {
    border: 3px solid black;
}

.slider-container {
    margin-top: 12px;
    border: 2px solid grey;
    width: 100%;
}

.hp_slide {
    background: white;
    height: 25px;
}

.hp_range {
    width: 0;
    background: grey;
    height: 25px;
}

#skip-button {
    background-color: grey;
}

.submit-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* width: 80%; */
}

.submit-buttons button {
    min-width: 200px;
    margin: 4px;
}

.lead {
    margin-top: 20px;
    font-size: 48px;
    font-weight: bold;
    font-family: sans-serif;
}