.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 85vh;
}
.global-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.audio-files-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.audio-buttons-container {
    display: flex;
    justify-content: space-between;

}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #008CBA;
    flex: 1;
    margin: 4px;
    width: 200px;
}
.button:hover {
    background-color: rgba(120, 115, 115, 0.79);
}


#playButton {
    background-color: #4CAF50; /* Green */
}
#playButton:hover {
    background-color: rgba(120, 115, 115, 0.79);
}

#pauseButton {
    background-color: #FF0000; /* Red */
}
#pauseButton:hover {
    background-color: rgba(120, 115, 115, 0.79);

}

#audioXButton {
    background-color:blueviolet;
}
#audioXButton:hover {
    background-color: rgba(120, 115, 115, 0.79);

}

.selected {
    border: 6px solid rgb(229, 151, 63);
}

.slider-container {
    margin-top: 12px;
    border: 2px solid #008CBA;
    width: 100%;
}
.hp_slide {
    background: white;
    height: 25px;
}

.hp_range {
    width: 0;
    background: #008CBA;
    height: 25px;
}

#skip-button {
    position: absolute;
    right: -30%;
    bottom: 0%;
    /* transform: translateY(-50%); */
    width: 30px;
    border-radius: 16px;
    padding: 12px;
}

.submit-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* width: 80%; */
}
.submit-buttons button {
    min-width: 200px;
    margin: 4px;
}
