<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LCAP ABX Test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<div class="container">
    <h1 class="lead">LCAP ABX Test</h1>
    <div class="global-buttons-container">
        <button class="button" id="playButton">Play</button>
        <button class="button" id="pauseButton">Pause</button>
    </div>
    <div class="audio-files-container">
        <div class="audio-buttons-container">
            <button class="button" id="audioXButton">X</button>
            <button class="button" id="audioAButton">A</button>
            <button class="button" id="audioBButton">B</button>
            <button class="button" id="audioCButton">C</button>

        </div>
        <div class="slider-container">
            <div class="hp_slide">
                <div class="hp_range"></div>
            </div>
        </div>
    </div>
    <div class="submit-buttons">
        <form action="/skip" method="post">
            <input type="submit" class="button" id="skip-button" value="Don't Know"></input>
        </form>
        <form action="/submit" method="post">
            <input type="submit" name="data" value="A is closer" class="button" id="selectA"></input>
        </form>
        <form action="/submit" method="post">
            <input type="submit" name="data" value="B is closer" class="button" id="selectB"></input>
        </form>
        <form action="/submit" method="post">
            <input type="submit" name="data" value="C is closer" class="button" id="selectC"></input>
        </form>
    </div>
    <div>
        <p>Progess {{dir_index}}/{{total_dirs}}</p>
    </div>
</div>
<script>
    // for legacy browsers
    const AudioContext = window.AudioContext || window.webkitAudioContext;
    const context = new AudioContext();
    const urlA = "{{file_a}}"
    const urlB = "{{file_b}}"
    const urlC = "{{file_c}}"
    const urlX = "{{file_x}}"
    const shouldAutoplay = "{{should_autoplay}}"

    const audioA = new Audio(urlA)
    const source1 = context.createMediaElementSource(audioA);
    source1.connect(context.destination);
    audioA.loop = true;

    const audioB = new Audio(urlB)
    const source2 = context.createMediaElementSource(audioB);
    source2.connect(context.destination);
    audioB.loop = true;

    const audioC = new Audio(urlC)
    const source3 = context.createMediaElementSource(audioC);
    source3.connect(context.destination);
    audioC.loop = true;

    const audioX = new Audio(urlX)
    const source4 = context.createMediaElementSource(audioX);
    source4.connect(context.destination);
    audioX.loop = true;

    audioA.muted = true;
    audioB.muted = true;
    audioC.muted = true;


    const playButton = document.getElementById('playButton');
    const pauseButton = document.getElementById('pauseButton');
    const audioAButton = document.getElementById('audioAButton');
    const audioBButton = document.getElementById('audioBButton');
    const audioCButton = document.getElementById('audioCButton');
    const audioXButton = document.getElementById('audioXButton');
    const skipButton = document.getElementById('skip-button');

    const selectA = document.getElementById('selectA');
    const selectB = document.getElementById('selectB');
    const selectC = document.getElementById('selectC');


    audioXButton.classList.add('selected');

    if (shouldAutoplay === "True") {
        audioA.play();
        audioB.play();
        audioC.play();
        audioX.play();
    }

    playButton.addEventListener('click', function () {
        context.resume()
        audioA.play();
        audioB.play();
        audioC.play();
        audioX.play();
        fetch("/play", {
            method: "POST",
            body: JSON.stringify({
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        });
    });

    pauseButton.addEventListener('click', function () {
        audioA.pause();
        audioB.pause();
        audioC.pause();
        audioX.pause();
        fetch("/pause", {
            method: "POST",
            body: JSON.stringify({
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        });

    });

    audioAButton.addEventListener('click', function () {
        audioA.muted = false;
        audioB.muted = true;
        audioC.muted = true;
        audioX.muted = true;
        audioAButton.classList.add('selected');
        audioBButton.classList.remove('selected');
        audioCButton.classList.remove('selected');
        audioXButton.classList.remove('selected');

    });

    audioBButton.addEventListener('click', function () {
        audioA.muted = true;
        audioB.muted = false;
        audioC.muted = true;
        audioX.muted = true;
        audioAButton.classList.remove('selected');
        audioBButton.classList.add('selected');
        audioCButton.classList.remove('selected');
        audioXButton.classList.remove('selected');
    });

    audioCButton.addEventListener('click', function () {
        audioA.muted = true;
        audioB.muted = true;
        audioC.muted = false;
        audioX.muted = true;
        audioAButton.classList.remove('selected');
        audioBButton.classList.remove('selected');
        audioCButton.classList.add('selected');
        audioXButton.classList.remove('selected');
    });

    audioXButton.addEventListener('click', function () {
        audioA.muted = true;
        audioB.muted = true;
        audioX.muted = false;
        audioC.muted = true;
        audioAButton.classList.remove('selected');
        audioBButton.classList.remove('selected');
        audioCButton.classList.remove('selected');
        audioXButton.classList.add('selected');
    });


    audioA.addEventListener('timeupdate', function () {
        var duration = audioA.duration;
        var currentTime = audioA.currentTime;
        var percentage = (currentTime / duration) * 100;
        document.querySelector('.hp_range').style.width = percentage + "%";
    });

    selectA.addEventListener('click', function () {
    });

    selectB.addEventListener('click', function () {
    });




</script>

</html>